* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin-top: 15rem;
    width: 25rem;
    line-height: 1.6;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 1rem;
    font-size:larger;
    color: rgb(110, 165, 165);
}

.btn {
    border-radius: 1rem;
    background-color: burlywood;
    margin-top: 1.5rem;
    padding: 0.75rem;
    color: rgb(167, 142, 109);
    font-weight: 700;
    font-size: large;
}

.btn:hover {
    cursor: pointer;
}

.header {
    background-color: aquamarine;
    min-width: 100vw;
    color:rgb(84, 148, 126);
}